 :root {
    --titleSectionPrimaryColor: rgb(11, 11, 129);
 }
 
#title {
    text-align: center;
    padding-top: 200px;
    background-image: url('../Images/Mountain.jpg');
    background-position: center top;
}

.title-section-button {
    color: var(--titleSectionPrimaryColor);
    border: solid var(--titleSectionPrimaryColor) 1px;
    border-radius: 5px;
    padding: 15px 20px;
    background-color: transparent;
        }

 .title-section-button:hover {
        background-color: indigo;
        cursor: pointer;
     }
